[submodule "colors/vim-quantum"]
	path = colors/vim-quantum
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
[submodule "bundle/vim-quantum"]
	path = bundle/vim-quantum
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
